
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 40px 30px; 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #000000;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/descargar.jpeg'); 
    background-size: cover;
    background-position: center;
    filter: blur(8px); 
    z-index: -1; /* asegúrate de que quede detrás del contenido */
}