<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Nombre" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <button type="submit">Entrar</button>
        </form>
        <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate</a></p>
    </div>
</body>
</html>
